.form{
    display: flex;
margin-bottom: 30px;

}
.form input{
    font-size: 20px;
}

.form button{
    font-size: 20px;
    margin: 0;
    /* padding: 0; */
}
.form span {
    display: none;
}


.movies_block{
    padding: 15px;
}

.moviesList li+li{
margin-top: 10px;
}