.movieblock{
    display: flex;
    border-bottom: 1px solid #000;
    padding: 15px;
}
.img{
    margin-right: 20px;
}
.link_back{
    text-decoration: none;
    padding: 15px;
    color: rgb(0, 76, 255);
    font-size: 24px;
}